#showing {
  display: none;
}

#fade{
  display: none;
}

.clickable {
  cursor: pointer;
  color: #771177;
}

.clickable:hover {
  text-decoration: underline;
}

.click {
  cursor: pointer;
  color: #771177;
}

.click:hover {
  text-decoration: underline;
}
