#showing {
  display: none;
}

#hero-arrives{
  display: none;
}

.clickable {
  cursor: pointer;
  color: #8811ff;
}

.clickable:hover {
  text-decoration: underline;
}

.click {
  cursor: pointer;
  color: #8811ff;
}

.click:hover {
  text-decoration: underline;
}
